.template-card__container {
  border: 0.1px solid #b8c3d3;
  border-radius: 0.75rem;
  // background-color: #e6f1fc;
  border: 1px solid #004484;
  border-width: 1px 6px 1px 6px !important;

  > div {
    padding: 12px;

    > div {
      padding: 8px;
    }
  }

  .icon__container {
    text-align: center;
    // border-right: 0.1px solid #b8c3d3;
  }

  .more-item__container {
    text-align: center;
    // border-left: 0.1px solid #b8c3d3;
    border-radius: 0 0.75rem 0.75rem 0;
    // background-color: #004f9a;

    .more-item__icon {
      // color: #fff;
      cursor: pointer;
      position: relative;
      top: 10px;
    }
  }

  .event-type {
    padding: 8px 12px;
    margin: 8px 12px;
    border-radius: 8px;
    background: #e6f1fc;
    color: #fff;

    .event-type__label {
      // color: #fff;
    }

    .event-channel__label {
      float: right;
      color: #000000;
    }
  }
}
