.template-management__container {
  .text-message__container {
    width: 100%;

    :first-child {
      width: 100%;
    }
    :nth-child(2) {
      cursor: pointer;
    }
  }
  .header__row {
    margin-bottom: 10px;

    .header__container {
      // border: 0.1px solid #183153;
      // box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
      // border-radius: 0.75rem;

      > div {
        padding: 10px;
      }

      .back-icon__container {
        text-align: center;
        // background-color: #183153;
        // border-radius: 0.75rem 0 0 0.75rem;

        .back-icon {
          // color: #fff;
          position: relative;
          top: 6px;
          cursor: pointer;
        }

        button {
          float: left;
          padding: 0%;
        }
      }
    }
  }
}
