.contact-user-card__container {
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 0 2px rgba(0, 0, 0, 0.06),
    0 2px 6px rgba(0, 0, 0, 0.12) !important;
}

.contact-user-card__container.selected {
  background: #e6f4ff;
}

.contact-card__no-status .ant-ribbon-corner {
  border: none;
}
