@import "../../variables.scss";

.header-home__container {
  .button__container {
    float: right;
    font-size: 16px;
  }

  .get-started__button {
    float: right;
  }

  .menu-icon {
    float: right;
    padding-top: 1.5rem;
    font-size: 20px;
  }

  .app__name {
    margin-left: 1px;
    color: #0565ff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
}
