.event-creation__container {
  text-align: start;
  .view-mode {
    ant-form-item-control-input-content {
      background-color: transparent;
      border: none;
    }

    label::before {
      content: "";
      display: none !important;
    }

    .ant-upload-disabled {
      display: none;
    }

    .ant-picker-range {
      background-color: transparent;
      border: none;
      input[disabled],
      .ant-picker-separator,
      .ant-picker-suffix {
        color: #000;
      }
      padding: 0;
    }

    .ant-select-selector {
      background-color: transparent !important;
      border: none;

      .ant-select-selection-overflow-item {
        .ant-select-selection-item {
          // color: rgb(18, 183, 106);
          color: #004f9a;
          background-color: #e6f1fc !important;
          // background-color: rgba(18, 183, 106, 0.12);
        }
      }
    }

    .ant-select-arrow {
      display: none;
    }
  }

  .notification-collapse-no_credits,
  .notification-collapse-free_credits {
    border-left: 3px solid #ff4d4f !important;
    border-radius: 0;
  }

  .notification-collapse-in_progress {
    border-left: 3px solid #1677ff !important;
    border-radius: 0;
  }

  .notification-collapse-completed {
    border-left: 3px solid rgb(18, 183, 106) !important;
    border-radius: 0;
  }

  .notification-collapse-not_started {
    border-radius: 0;
  }

  .video-collapse {
    .ant-collapse-header {
      padding-left: 0;
    }
  }
}
