.home-page__container {
  .body-content {
    text-align: center;
    .headline {
      padding-top: 2rem !important;
      background-size: 200% auto;
      color: rgb(45, 55, 72);
    }

    .sub-heading {
      color: #1d2b36;
      font-weight: 400;
    }
  }

  .how-is-it-works {
    // background: #000;

    .content-row {
      margin-top: 6vh;
    }

    .notes {
      // color: #fff;
    }

    .steps {
      // background: linear-gradient(
      //   to right,
      //   rgb(18, 183, 106) 20%,
      //   rgb(18, 183, 106) 40%,
      //   rgba(18, 183, 106, 0.12) 60%,
      //   rgb(18, 183, 106) 80%
      // );
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }

    .tag-module {
      color: #fff;
      padding: 4px 16px !important;
    }

    .content-text {
      // color: #f9fafa;
      padding-bottom: 3rem;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.875rem;
      letter-spacing: -0.4px;
    }

    .content-title {
      // color: #fff;
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 400;
      letter-spacing: -0.8px;
    }
  }

  .cta-outer-row {
    background-color: #fff;
    padding-top: 10px;
    .cta-inner-row {
      background-color: #000;
      border-radius: 24px;
      overflow: hidden;
      padding: 24px;
      position: relative;
      margin: 10%;
      margin-top: 4rem;

      .content-title {
        color: #fff;
      }

      .content-btn {
        text-align: center;
      }
    }
  }

  .scroll-header {
    transition: background-color 0.3s ease;
  }

  .scroll-header.scrolled {
    box-shadow: rgb(234, 236, 240) 0px 0px 1px,
      rgba(29, 41, 57, 0.08) 0px 6px 12px;
  }
}
