.birthday-event-card__container {
  border: 1px solid #004484;
  border-width: 2px 6px 2px 6px !important;
  // background: #fff;

  padding: 20px;
  border-radius: 8px;
  width: 100%;

  .birthday-image {
    background-image: url(../../assets/png/birthday-banner.png);
    background-repeat: no-repeat;
    // background-attachment: fixed;
    height: 170px;
    background-size: contain;
    background-position: center;

    .event-info {
      align-self: center;
      text-align: center;
    }
    .event-place {
      > svg {
        margin-right: 10px;
      }
    }
  }

  .more-info {
    > span {
      float: right;
    }
  }

  .event-type {
    padding: 8px 12px;
    border-radius: 8px;
    background: #e6f1fc;
    color: #fff;

    .event-type__label {
      // color: #fff;
    }
  }

  .event-status {
    > span {
      float: right;
    }
  }
}
