.home-how-is-it-works__container {
  .how-is-it-works__image {
    // padding: 32px;
    background: #fff;
    border-radius: 8px;
  }

  > img {
    border-radius: 8px;
  }

  .tag-module {
    color: #fff;
    padding: 4px 16px !important;
  }

  .content-text {
    color: rgb(100, 110, 115);
    padding-bottom: 3rem;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.875rem;
    letter-spacing: -0.4px;
  }

  .content-title {
    color: rgb(45, 55, 72);
    // font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.8px;
  }
}
