@import "../../variables.scss";

.header__container {
  .sign-in__button {
    color: $text-color-black1;
  }

  .button__container {
    float: right;
    font-size: 16px;
  }

  .user__button {
    float: right;
    position: relative;
    top: 12px;
    cursor: pointer;
    span {
      color: #fff;
    }
  }

  .app__name {
    margin-left: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;

    .current-tab {
      color: #fff;
    }
  }
}
