.contact-management__container {
  .list__grid-view {
    > span {
      position: relative;
      top: 30%;
      float: right;
      font-size: 1.5rem;
    }

    > div {
      margin: 10px;
      float: right;
    }
  }

  .create-directory__button {
    margin-bottom: 16px;
  }
}

.add-edit-contact-Directory__container {
  .action__button-groups {
    > button {
      margin-left: 5px;
    }
  }

  .add-action__button {
    > button {
      float: right;
    }
  }

  .header__row {
    margin-bottom: 10px;

    .header__container {
      // border: 0.1px solid #183153;
      // box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
      // border-radius: 0.75rem;

      > div {
        padding: 10px;
      }

      .back-icon__container {
        text-align: center;
        // background-color: #183153;
        // border-radius: 0.75rem 0 0 0.75rem;

        .back-icon {
          // color: #fff;
          position: relative;
          top: 6px;
          cursor: pointer;
        }

        button {
          float: left;
          padding: 0%;
        }
      }

      .event-name__container {
        // background: #fff;
      }
    }
  }

  .tab__header {
    font-size: 20px;
    font-weight: 700;
  }
}

.list-contact-directory__container {
  > span {
    margin-bottom: 16px;
  }
}
