.event-card__container {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;

  .more-info {
    > span {
      float: right;
    }
  }

  .event-type {
    padding: 8px 12px;
    border-radius: 8px;
    background: #0071dc;
    color: #fff;

    .event-type__label {
      color: #fff;
    }
  }

  .event-status {
    > span {
      float: right;
    }
  }
}
