.font-weight-700 {
  font-weight: 700;
}
.font-weight-400 {
  font-weight: 400;
}
.padding-bottom-24 {
  padding-bottom: 24px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-bottom-32 {
  padding-bottom: 32px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-16 {
  font-size: 16px;
}

.align-self-center {
  align-self: center;
}

.justify-content-center {
  justify-content: center;
}

.display-flex {
  display: flex;
}

.padding-right-8 {
  padding-right: 8px;
}

.width-100 {
  width: 100%;
}

.padding-left-8 {
  padding-left: 8px;
}

.icon-light-color {
  color: #b197fc;
}

.light-color-bg {
  background-color: #b197fc;
}

.dark-color-bg {
  background-color: #6741d9;
}

.dark-color {
  color: #6741d9;
}

.ee__avatar-color-a,
.ee__avatar-color-n {
  background-color: #f5d5e9;
  color: #e596c8;
}

.ee__avatar-color-b,
.ee__avatar-color-o {
  background-color: #fee0cc;
  color: #fdb280;
}

.ee__avatar-color-c,
.ee__avatar-color-p {
  background-color: #d4e7cd;
  color: #95c381;
}

.ee__avatar-color-d,
.ee__avatar-color-q {
  background-color: #cceef8;
  color: #77d1ed;
}

.ee__avatar-color-e,
.ee__avatar-color-r {
  background-color: #ffe7a6;
  color: #ffc220;
}

.ee__avatar-color-f,
.ee__avatar-color-s {
  background-color: #f8d2d3;
  color: #ef8e92;
}

.ee__avatar-color-g,
.ee__avatar-color-t {
  background-color: #e0d6e5;
  color: #b199bf;
}

.ee__avatar-color-h,
.ee__avatar-color-u {
  background-color: #d5d6d8;
  color: #9e9fa3;
}

.ee__avatar-color-i,
.ee__avatar-color-v {
  background-color: #b3d4f5;
  color: #4d9ce7;
}

.ee__avatar-color-j,
.ee__avatar-color-w {
  background-color: #efc0de;
  color: #e080bc;
}

.ee__avatar-color-k,
.ee__avatar-color-x {
  background-color: #bfdbb3;
  color: #6aab4f;
}

.ee__avatar-color-l,
.ee__avatar-color-y {
  background-color: #bbe8f6;
  color: #4db1d1;
}

.ee__avatar-color-m,
.ee__avatar-color-z {
  background-color: #fffa99;
  color: #e6cb00;
}

.ant-btn-primary,
.ant-btn-primary:hover {
  background-color: #6741d9 !important;
  color: #fff;
}
