.font-weight-700 {
  font-weight: 700;
}
.font-weight-400 {
  font-weight: 400;
}
.padding-bottom-24 {
  padding-bottom: 24px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-bottom-32 {
  padding-bottom: 32px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-16 {
  font-size: 16px;
}

.align-self-center {
  align-self: center;
}

.justify-content-center {
  justify-content: center;
}

.display-flex {
  display: flex;
}

.padding-right-8 {
  padding-right: 8px;
}

.width-100 {
  width: 100%;
}

.padding-left-8 {
  padding-left: 8px;
}

.icon-light-color {
  color: #e6f1fc;
}

.light-color-bg {
  background-color: #e6f1fc;
}

.dark-color-bg {
  background-color: #0071dc;
}

.dark-color {
  color: rgb(18, 183, 106);
}

.ee__avatar-color-a,
.ee__avatar-color-n {
  background-color: #f5d5e9;
  color: #e596c8;
}

.ee__avatar-color-b,
.ee__avatar-color-o {
  background-color: #fee0cc;
  color: #fdb280;
}

.ee__avatar-color-c,
.ee__avatar-color-p {
  background-color: #d4e7cd;
  color: #95c381;
}

.ee__avatar-color-d,
.ee__avatar-color-q {
  background-color: #cceef8;
  color: #77d1ed;
}

.ee__avatar-color-e,
.ee__avatar-color-r {
  background-color: #ffe7a6;
  color: #ffc220;
}

.ee__avatar-color-f,
.ee__avatar-color-s {
  background-color: #f8d2d3;
  color: #ef8e92;
}

.ee__avatar-color-g,
.ee__avatar-color-t {
  background-color: #e0d6e5;
  color: #b199bf;
}

.ee__avatar-color-h,
.ee__avatar-color-u {
  background-color: #d5d6d8;
  color: #9e9fa3;
}

.ee__avatar-color-i,
.ee__avatar-color-v {
  background-color: #b3d4f5;
  color: #4d9ce7;
}

.ee__avatar-color-j,
.ee__avatar-color-w {
  background-color: #efc0de;
  color: #e080bc;
}

.ee__avatar-color-k,
.ee__avatar-color-x {
  background-color: #bfdbb3;
  color: #6aab4f;
}

.ee__avatar-color-l,
.ee__avatar-color-y {
  background-color: #bbe8f6;
  color: #4db1d1;
}

.ee__avatar-color-m,
.ee__avatar-color-z {
  background-color: #fffa99;
  color: #e6cb00;
}

.ant-btn-primary,
.ant-btn-primary:hover {
  background-color: rgb(18, 183, 106) !important;
  color: #fff;
}

.eazy__event-snackbar {
  opacity: 0.9;
  border-width: 0 0 0 6px !important;
}

.eazy__event-snackbar.success {
  border: solid #22c55e;
  color: #22c55e;
}

.ant-btn-primary {
  color: #fff;
  border-color: rgb(18, 183, 106) !important;
}

.ant-btn-link {
  color: rgb(18, 183, 106);
}

.__account__login {
  .ant-layout-content {
    background-color: #fff;
  }

  .header-home__container {
    .get-started__button {
      display: none;
    }
  }
}

.__account__auth-verify {
  .ant-layout-content {
    background-color: #fff;
  }
  .header-home__container {
    .get-started__button {
      display: none;
    }
  }
}

.float-right {
  float: right;
}

form {
  label {
    font-weight: 700;
  }
}

.link-text {
  color: rgb(18, 183, 106);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.right-arrow-icon {
  color: rgb(16, 24, 40);
  margin-left: 1rem;
  font-weight: 100;
  font-size: 14px;
}

.ant-radio-button-checked,
.ant-radio-button-wrapper-checked {
  color: rgb(18, 183, 106) !important;
  border-color: rgb(18, 183, 106) !important;
}

.ant-picker-calendar-date-today {
  border-color: rgb(18, 183, 106) !important;
}

.ant-picker-cell-selected,
.ant-picker-calendar-date-today {
  background: rgba(18, 183, 106, 0.12) !important;
}

.ant-picker-cell-selected .ant-picker-calendar-date-value {
  color: rgb(18, 183, 106) !important;
}

.ant-alert-info {
  background: rgba(18, 183, 106, 0.12) !important;

  svg {
    color: rgb(18, 183, 106) !important;
  }
}

.ant-tabs-tab-active {
  .ant-tabs-tab-btn {
    color: rgb(18, 183, 106) !important;
  }
}

.ant-tabs-tab-btn:hover,
.ant-tabs-tab-btn:active {
  color: rgba(18, 183, 106, 0.12) !important;
}

.ant-upload-drag:hover {
  border-color: rgb(18, 183, 106) !important;
}

.ant-upload-list-item-name {
  color: rgb(18, 183, 106) !important;
}

.ant-upload-drag {
  svg {
    color: rgb(18, 183, 106) !important;
  }
}

.ant-input:hover {
  border-color: rgb(18, 183, 106) !important;
}

.ant-radio-button-checked {
  background-color: #fff;
}
