.font-weight-700 {
  font-weight: 700;
}
.font-weight-400 {
  font-weight: 400;
}
.padding-bottom-24 {
  padding-bottom: 24px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.padding-bottom-8 {
  padding-bottom: 8px;
}

.padding-bottom-32 {
  padding-bottom: 32px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-16 {
  font-size: 16px;
}

.align-self-center {
  align-self: center;
}

.justify-content-center {
  justify-content: center;
}

.display-flex {
  display: flex;
}

.padding-right-8 {
  padding-right: 8px;
}

.margin-right-8 {
  margin-right: 8px;
}

.width-100 {
  width: 100%;
}

.padding-left-8 {
  padding-left: 8px;
}

.icon-light-color {
  color: #e6f1fc;
}

.light-color-bg {
  background-color: #e6f1fc;
}

.dark-color-bg {
  background-color: #0071dc;
}

.dark-color {
  color: rgb(18, 183, 106);
}

.cursor-pointer {
  cursor: pointer;
}

.ee__avatar-color {
  background-color: rgba(18, 183, 106, 0.12);
  color: rgb(18, 183, 106);
}

.ee__avatar-color-a,
.ee__avatar-color-n {
  background-color: #f5d5e9;
  color: #e596c8;
}

.ee__avatar-color-b,
.ee__avatar-color-o {
  background-color: #fee0cc;
  color: #fdb280;
}

.ee__avatar-color-c,
.ee__avatar-color-p {
  background-color: #d4e7cd;
  color: #95c381;
}

.ee__avatar-color-d,
.ee__avatar-color-q {
  background-color: #cceef8;
  color: #77d1ed;
}

.ee__avatar-color-e,
.ee__avatar-color-r {
  background-color: #ffe7a6;
  color: #ffc220;
}

.ee__avatar-color-f,
.ee__avatar-color-s {
  background-color: #f8d2d3;
  color: #ef8e92;
}

.ee__avatar-color-g,
.ee__avatar-color-t {
  background-color: #e0d6e5;
  color: #b199bf;
}

.ee__avatar-color-h,
.ee__avatar-color-u {
  background-color: #d5d6d8;
  color: #9e9fa3;
}

.ee__avatar-color-i,
.ee__avatar-color-v {
  background-color: #b3d4f5;
  color: #4d9ce7;
}

.ee__avatar-color-j,
.ee__avatar-color-w {
  background-color: #efc0de;
  color: #e080bc;
}

.ee__avatar-color-k,
.ee__avatar-color-x {
  background-color: #bfdbb3;
  color: #6aab4f;
}

.ee__avatar-color-l,
.ee__avatar-color-y {
  background-color: #bbe8f6;
  color: #4db1d1;
}

.ee__avatar-color-m,
.ee__avatar-color-z {
  background-color: #fffa99;
  color: #e6cb00;
}

.ant-btn-primary,
.ant-btn-primary:hover {
  background-color: rgb(18, 183, 106) !important;
  color: #fff;
}

.ant-notification-notice-wrapper {
  height: 48px !important;
  margin-bottom: 0px !important;
}

.eazy__event-snackbar {
  padding: 13px 24px !important;
  .ant-notification-notice-message {
    font-size: 14px !important;
  }
  .ant-notification-notice-close {
    top: 13px !important;
  }
}

.eazy__event-snackbar.success {
  // border: solid #22c55e;
  color: #22c55e;
}

.ant-btn-primary {
  color: #fff;
  border-color: rgb(18, 183, 106) !important;
}

.ant-btn-link {
  color: rgb(18, 183, 106);
}

.__account__login {
  .ant-layout-content {
    background-color: #fff;
  }

  .header-home__container {
    .get-started__button {
      display: none;
    }
  }
}

.__account__auth-verify {
  .ant-layout-content {
    background-color: #fff;
  }
  .header-home__container {
    .get-started__button {
      display: none;
    }
  }
}

.float-right {
  float: right;
}

form {
  label {
    font-weight: 700;
  }
}

.link-text {
  color: rgb(18, 183, 106);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.right-arrow-icon {
  color: rgb(16, 24, 40);
  margin-left: 1rem;
  font-weight: 100;
  font-size: 14px;
}

.ant-radio-button-checked,
.ant-radio-button-wrapper-checked {
  color: rgb(18, 183, 106) !important;
  border-color: rgb(18, 183, 106) !important;
}

.ant-picker-calendar-date-today {
  border-color: rgb(18, 183, 106) !important;
}

.ant-picker-cell-range-start .ant-picker-cell-inner {
  background: rgb(18, 183, 106) !important;
}

.ant-picker-cell-selected,
.ant-picker-calendar-date-today {
  background: rgba(18, 183, 106, 0.12) !important;
}

.ant-picker-cell-selected .ant-picker-calendar-date-value {
  color: rgb(18, 183, 106) !important;
}

.ant-steps-item-active {
  .ant-steps-item-icon {
    border-color: rgba(18, 183, 106, 0.12) !important;
    background: rgb(18, 183, 106) !important;

    .ant-steps-icon {
      color: #fff;
    }
  }
}

.ant-steps-item.ant-steps-item-wait {
  .ant-steps-item-container[role="button"]:hover .ant-steps-item-title,
  .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-icon
    .ant-steps-icon {
    color: rgb(18, 183, 106) !important;
  }
}

.ant-steps-item.ant-steps-item-finish {
  .ant-steps-item-icon {
    background: rgba(18, 183, 106, 0.12) !important;
    .ant-steps-icon {
      color: rgb(18, 183, 106) !important;
    }
  }

  .ant-steps-item-container[role="button"]:hover .ant-steps-item-title,
  .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-icon
    .ant-steps-icon {
    color: rgb(18, 183, 106) !important;
  }
}

.ant-alert-info {
  // background: rgba(18, 183, 106, 0.12) !important;
  // border-left: 3px solid rgb(18, 183, 106) !important;
  border: 0 !important;
  border-left: 3px solid #1677ff !important;
  border-radius: 0;

  svg {
    // color: rgb(18, 183, 106) !important;
    // color: rgb(18, 183, 106) !important;
  }
}

.ant-alert-error {
  // background: rgba(18, 183, 106, 0.12) !important;
  // border-left: 3px solid rgb(18, 183, 106) !important;
  border: 0 !important;
  border-left: 3px solid #ff4d4f !important;
  border-radius: 0;

  svg {
    // color: rgb(18, 183, 106) !important;
    // color: rgb(18, 183, 106) !important;
  }
}

.ant-tabs-tab-active {
  .ant-tabs-tab-btn {
    color: rgb(18, 183, 106) !important;
  }
}

.ant-tabs-tab-btn:hover,
.ant-tabs-tab-btn:active {
  color: rgb(18, 183, 106) !important;
  background: rgba(18, 183, 106, 0.12) !important;
}

.ant-upload-drag:hover {
  border-color: rgb(18, 183, 106) !important;
}

.ant-upload-list-item-name {
  color: rgb(18, 183, 106) !important;
}

.ant-upload-drag {
  svg {
    color: rgb(18, 183, 106) !important;
  }
}

.ant-input:hover,
.ant-steps-item-container[role="button"]:hover .ant-steps-item-icon {
  border-color: rgb(18, 183, 106) !important;
}

.ant-input-affix-wrapper:hover {
  border-color: rgb(18, 183, 106) !important;
}

.ant-radio-button-checked {
  background-color: #fff;
}

.ant-tag-success {
  color: rgb(18, 183, 106);
  background-color: rgba(18, 183, 106, 0.12) !important;
}

.ant-tag-processing {
  color: rgb(6, 174, 212);
  background-color: rgba(6, 174, 212, 0.12);
}

.ant-tag-error {
  color: rgb(240, 68, 56);
  background-color: rgba(240, 68, 56, 0.12);
}

.ant-tag-warning {
  color: rgb(247, 144, 9);
  background-color: rgba(247, 144, 9, 0.12);
}

.ant-picker-dropdown {
  .ant-picker-cell-selected,
  .ant-picker-cell-range-end {
    .ant-picker-cell-inner {
      background-color: rgb(18, 183, 106) !important;
      color: #fff;
    }
  }
}

.ant-picker-time-panel {
  .ant-picker-time-panel-cell-selected {
    .ant-picker-time-panel-cell-inner {
      background-color: rgba(18, 183, 106, 0.12) !important;
    }
  }
}

.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
  display: inline-flex;
  animation: none;
  flex-wrap: nowrap;
  direction: ltr;
  @media (max-width: 768px) {
    display: inline-grid;
  }
}

.sticky-header {
  position: sticky;
  top: 65px;
  background: #ffffff;
  z-index: 2;
  padding-top: 8px;
}

.ant-select-item-option-selected {
  background-color: rgba(18, 183, 106, 0.12) !important;
}

.ant-select :hover {
  border-color: rgb(18, 183, 106) !important;
}

.ant-btn-default:hover {
  border-color: rgb(18, 183, 106) !important;
  color: rgb(18, 183, 106) !important;
}

.date-picker-mobile {
  left: auto !important;
}

.ant-radio-button-wrapper:hover {
  color: rgb(18, 183, 106) !important;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
  position: relative;
  top: 2px;
}

.app-link {
  color: rgb(18, 183, 106) !important;
}

.ant-collapse {
  background-color: transparent;
}

.ant-switch-checked {
  background: rgb(18, 183, 106) !important;
}

.ant-radio-button-wrapper-checked::before {
  background-color: rgb(18, 183, 106) !important;
}

.ant-segmented-item.ant-segmented-item-selected {
  .ant-segmented-item-label {
    font-weight: 400;
  }
}