.layout__trigger-sidebar {
  color: #ffffff;
  font-size: 20px;
  padding-left: 20px;
}

.layout__header {
  position: sticky;
  padding-left: 0px;
  top: 0px;
  z-index: 1000;
  width: 100%;
  // background: #6741d9;
}
